*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #DEB887;
    font-family: sans-serif;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
}
p{
    font-size: 26px;
    padding: 15px;
}
img{
    width: auto;
    height: auto;
    border-radius: 10%;
}
li{
    padding: 0 15px;
    font-size: 18px;
}